# Compatibility wrapper for Ben's existing ~/.gitconfig symlink. New bootstrap
# adopters receive a generated, user-owned ~/.gitconfig instead.
[user]
	name = Benjamin Western
	email = code@benjaminwestern.io
[include]
	path = ~/.dotfiles/git/config.shared
[include]
	path = ~/.dotfiles/git/github-ssh.inc
[include]
	path = ~/.config/git/bootstrap-user.inc
