[init]
	defaultBranch = main
[color]
	ui = auto
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[user]
	name = Benjamin Western
	email = code@benjaminwestern.io
[http]
	sslcainfo = /Users/benjaminwestern/ca_certs/cacert.pem
